{% extends 'base.html' %}
{% load static %}

{% block header %}
    <h1>Leaderboard</h1>
{% endblock %}

{% block content %}

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Last name</th>
                <th>Rating</th>
            </tr>

        {% for user in users %}

              <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.rating }}</td>
              </tr>

        {% endfor %}

    </table>


{% endblock %}
