{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
    <h1> Account creation </h1>
{% endblock %}

{% block content %}
    <form method='post'>
      {% csrf_token %}
      {{form|crispy}}
      <input type="submit" value="Create">
    </form>
{% endblock %}

