{% extends 'base.html' %}

{% block header %}
    <h1> Result delete </h1>
{% endblock %}

{% block content %}

    <form method='post'>
        {% csrf_token %}
      <h3>Do you really want to delete this result?</h3>

      <input type="submit" class="btn btn-danger" value="Delete">
      <a href="{% url 'tests:list' %}" class="btn btn-light">Cancel</a>
    </form>

{% endblock %}
